<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>
    <!--   If cookie(user_id) === DO NOT KNOW  ======== -->
    <!-- Then do not disply the next -->
    <!-- if email === null, you want to show them login/ register-->
    <!-- login page is givig an error user not defined -->
    <% if (user !== undefined) { %> <!--  What to change this to?  -->
      <div>
        <p>Logged in as; <%= user.email %> </p><!--Changed this to the unique email -->
        <form action="/logout" method="POST" class="form-example">
          <div class="form-example" style="float:right">
            <label for="name"></label>
            <button class="favorite styled" type="submit">
              logout
            </button>
          </div>
        </form>
      </div>
      <% } else { %>
      
        <!--  -->
        <form action="/register" method ="GET">
          <button class="favorite styled" type="submit">
            Register
          </button>
        </form>
        <form action="/login" method="GET">
            <button class="favorite styled" type="submit">
              Login
            </button>
        </form>
        <% } %>
        
        
    </div>
    

    
  </nav>
</header>
