<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
    </div>
    <!--   If cookie(username) === DO NOT KNOW  ======== -->
    <!-- Then do not disply the next -->
    <% if (user_id) { %>

    }
      <div>
      <% if (username) { %> 
        <p> <%= username %> </p><!--Probably shoud change this to the unique id-->
        <form action="/logout" method="POST" class="form-example">
          <div class="form-example" style="float:right">
            <label for="name">logout</label>
            <button class="favorite styled" type="submit">
              logout
            </button>
          </div>
        </form>
      </div>
      <% } else { %>
      
      <form action="/login" method="POST" class="form-example">
        <div class="form-example" style="float:right">
          <label for="name">Username</label>
          <input type="text" name="name" id="name" required>
          <button class="favorite styled" type="submit">
            Login
          </button>
        </div>
      </form>
      <!--  -->
      <form action="/register" method ="GET">
        <button class="favorite styled" type="submit">
          Register
        </button>
      </form>
    <% } %>
    </div>
    

    
  </nav>
</header>
